<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <div class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" style="padding-left: 15% !important;" href="#">Hello <h3 style="margin-bottom: 0%;">Umut YILMAZ</h3></div>
   <div class="navbar-nav" style="padding-right: 10%;">
        <button class="nav-item text-nowrap" style="background-color: transparent !important; border: none;">
            <a style="background: red;
            color: #fff;
            border-radius: 4px;
            margin: 10px;" class="nav-link px-3 cursor-pointer" (click)="logOut()">Sign out</a>
        </button>
    </div>
  </header>
<div class="mainDiv">
    <!-- <button (click)="logOut()" class="btn btn-danger">Log Out</button> -->
<br>
<app-show-product> </app-show-product>
</div>